p {
    margin: 0px;
    font-weight: 500
}

/* Color title  */

h1, h2, h3, h4, h5, h6, label, tr, th, td, .tt-btn-close {
    color: #657272 !important;
    font-weight: 500
}

ul {
    list-style: none;
}

/* Remove outline box-shadow input */

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    outline: 0 !important;
    box-shadow: inset 0 -1px 0 #f4f4f4;
    border-color: #657272;
}

/* Style for Header */

.logo-header {
    margin-top: -3px;
    margin-bottom: 10px;
    width: 100%;
}

.header-input {
    border: none !important;
    border-radius: 20px 0px 0px 20px !important;
    background-color: #f4f4f4 !important;
    font-weight: 500 !important;
    color: #a5a5a5;
}

textarea {
    border: none !important;
    background-color: #f4f4f4 !important;
    font-weight: 500 !important;
    color: #a5a5a5 !important;
    border-radius: 11px !important;
}

.header-input::placeholder, .header-input:focus, textarea::placeholder {
    color: #a5a5a5 !important;
}

.btn-search-header {
    border-radius: 0px 20px 20px 0px !important;
    background-color: #1b42cb !important;
    width: 3.2rem !important;
    height: 100%;
}

.icon-menu-user {
    width: 40%;
}

.fa-user-circle {
    font-size: 25px !important;
}

i[class*="icon-f"] {
    font-size: 25px !important;
    font-weight: 700 !important;
}

header .tt-dropdown-obj .tt-dropdown-toggle {
    color: #b2c3c3;
}

.selected_li>a {
    font-weight: 500
}

.selected_li:hover>a {
    background-color: #1b42cb;
    color: white !important;
}

.tt-desctop-menu>nav>ul>li:hover {
    color: #1b42cb !important;
    border-bottom: 2px solid !important;
}

li {
    cursor: pointer;
}

header .tt-multi-obj .tt-dropdown-menu .tt-dropdown-inner {
    padding: 0px 0px 0px 0px !important;
    text-align: center !important;
    color: white;
}

.tt-desctop-menu:not(.tt-hover-02) li.dropdown>a {
    color: #657272;
    background: transparent;
    font-weight: 500;
}

header .tt-cart .tt-dropdown-toggle .tt-badge-cart {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    top: -3px !important;
    right: -9px !important;
    font-size: 9px !important;
}

/* Style for Tabs */

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1b42cb !important;
    border-bottom-color: #1b42cb !important;
    background-color: transparent !important;
    border-color: #1b42cb !important;
    border-bottom-width: 2px !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}

a:not([href]):not([tabindex]) {
    color: #5e7272 !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    /* color: #1b42cb !important; */
    /* border-bottom-color: #1b42cb !important; */
    background-color: transparent !important;
    /* border-color: #1b42cb !important; */
    border-bottom-width: 2px !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}

/* Btn for club vida */

.btn-club-vida {
    border: 1px solid !important;
    padding: 3px !important;
    border-color: rgb(255, 44, 110) !important;
    color: rgb(255, 44, 110) !important;
    border-radius: 50px !important;
    font-size: 12px !important;
    font-weight: 700 !important
}

.btn-club-vida-mobile {
    color: rgb(255, 44, 110) !important;
    border: 0 !important;
}

.btn-club-vida:hover {
    background-color: #fd2f6f12 !important
}

/* background for circle badge icon cart */

.tt-badge-cart {
    background-color: rgb(255, 44, 110) !important;
}

/* background color for btn contact */

.btn-contact {
    background-color: rgb(0, 24, 101) !important;
}

.tt-collapse-title-blue {
    color: #1b42cb !important;
}

/* Images Droguery */

.imgs-cols-drogueria {
    height: 200px !important;
}

.img-col-drogueria {
    height: 420px !important;
}

.tt-title-small {
    color: #657272 !important;
}

.tt-title-small-drogueria:hover {
    color: white !important;
}

.tt-title-large {
    color: #1b42cb !important;
}

.tt-title-small:hover {
    color: black !important;
}

/* Style for Carousel -Slider */

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 14px !important;
    height: 13px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #1b42cb;
    background-clip: padding-box;
    border-top: 0px !important;
    border-bottom: 0px !important;
    opacity: .5;
    transition: opacity .6 ease;
    border-radius: 20px !important;
}

.carousel-indicators>.active {
    background-color: white;
}

/* Icons payments for footer */

.icon-payments {
    width: 10%;
    padding: 5px;
    margin-top: 2%;
}

.icon-payments:nth-child(1) {
    width: 20%;
}

.icon-payments:nth-child(2) {
    width: 15%;
}

.icon-payments:nth-child(3) {
    width: 25%;
}

.icon-payments:nth-child(4) {
    width: 25%;
}

.tt-list>li>a {
    font-weight: 500;
}

/* Btn TabProducts */

.card-tab-products {
    border: none;
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.div-percent {
    width: 20%;
    background-color: #ff2c6e;
    position: absolute;
    top: 3%;
    left: 4%;
    color: white;
    font-weight: 600;
    border-radius: 5px 5px 5px 5px;
}

.div-cardbody>div {
    font-weight: 600;
}

.div-cardbody>div:nth-child(1) {
    font-size: 17px;
    margin-top: -15px;
}

.div-cardbody>div:nth-child(2) {
    font-size: 10px;
    color: #b2c3c3;
    text-decoration: line-through;
    margin-top: -16px;
}

.div-cardbody>p:nth-child(3) {
    font-size: 12px;
    color: #657272;
    margin-top: -5px;
}

.div-cardbody>p:nth-child(4) {
    font-size: 8px;
    color: #b2c3c3;
    margin-top: -6px;
}

.div-cardbody>p:nth-child(5) {
    font-size: 10px;
    color: #b2c3c3;
    margin-top: -6px;
    text-transform: uppercase;
}

.tab-content-scroll {
    overflow-y: scroll;
    height: 360px;
    cursor: ns-resize;
}

.btn-left-product {
    background-color: #f2f2f2;
    color: #657272;
}

.btn-rigth-product {
    background-color: #f2f2f2;
    color: #657272;
}

.btn-products-arrow {
    width: 37.3px;
    height: 35px;
    border-radius: 10.7px;
    border: none;
    font-size: 23px;
    font-weight: 700;
}

.column-btns-product-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-inline-flex-content-column {
    justify-content: flex-end;
    display: inline-flex;
}

/* Style for Dictionary */

.medicine-input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px !important;
    font-weight: 500 !important;
    color: #657272;
    border-color: #657272;
}

.medicine-input::placeholder, .medicine-input:focus {
    color: #657272 !important;
}

.btn-search-medicine {
    background-color: transparent !important;
    color: black !important;
}

.ico-search-medicine {
    font-size: 20px;
    margin-left: -22px;
    top: 10px;
    position: absolute;
    z-index: 3;
}

/* Style for account */

.account-input {
    border: none !important;
    background-color: #f4f4f4 !important;
    font-weight: 500 !important;
    color: #a5a5a5 !important;
    border-radius: 11px !important;
}

.account-input::placeholder, .account-input:focus {
    color: #a5a5a5 !important;
}

.content-conditions {
    background: #f4f4f4;
    padding: 2%;
    text-align: center;
}

.conditions-link {
    color: #1b42cb !important;
    font-weight: 500
}

.tt-item-register {
    height: 93% !important;
}

/* Collapsible items */

.collapsible {
    color: #657272;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid #e9e7e7;
    font-weight: 600;
    background-color: white !important;
}

.active_collapsible, .collapsible:hover {
    background-color: white !important;
}

.collapsible:after {
    content: '\e9b1';
    font-family: "wokiee";
    position: absolute;
    right: 10px;
    font-size: 20px;
    line-height: 1;
    color: #777777;
}

.active_collapsible:after {
    content: "\e9b2";
}

.content_active_collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white !important;
    text-align: left
}

.content_active_collapsible>ul {
    padding: 0;
}

h4:not([class^="tt-title"]):not([class^="tt-collapse"]):not([class^="tt-aside"]) {
    font-size: 12px;
    line-height: 0px;
    padding-left: 3%;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding-bottom: 22px;
}

.order_category_list {
    font-size: 12px !important;
}

.list_category {
    margin-top: -2%;
    font-size: 12px;
    height: 150px;
    overflow: scroll;
}

.tt-price {
    color: #657272 !important;
}

.tt-input-counter>input {
    color: #657272 !important;
}

.tbody-cart-buy {
    display: block;
    height: 30rem;
    overflow: scroll;
}

/* Progress bar steps buys */

.progressbar {
    display: flex;
    margin-left: -4%;
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #657272;
}

.progressbar li:before {
    width: 50px;
    height: 50px;
    content: counter(step);
    counter-increment: step;
    line-height: 45px;
    border: 2px solid #f4f4f4;
    display: block;
    text-align: center;
    margin: -9px auto 10px auto;
    border-radius: 50%;
    background-color: #f4f4f4;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #f4f4f4;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li .progressbar_active {
    color: #1b42cb;
}

.progressbar li.progressbar_active:before {
    background: #1b42cb;
    color: wheat;
    border: none;
}

.progressbar li.progressbar_active+li:after {
    background-color: #1b42cb;
}

.text-progress {
    font-size: 11px;
    font-weight: 500;
}

@media screen and (max-width: 899px) {
    .progressbar {
        margin-left: -10%;
        counter-reset: step;
    }
    .text-progress {
        font-size: 9px;
        font-weight: 500;
    }
}

/* Steps for styles */

.card-step {
    border-radius: 7px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;
}

.col-active-step {
    border: 2px solid #1b42cb;
}

.col-active-title-step {
    color: #1b42cb !important;
}

/* sumary steps */

.sumary-content-text, .sumary-content-text-value {
    display: flex;
    justify-content: space-between;
}

.sumary-content-text>p:nth-child(1) {
    font-weight: 500;
}

.sumary-content-text>span {
    font-weight: 500;
    color: #b2c3c3
}

.sumary-content-text-value>p {
    font-weight: 500;
    color: #b2c3c3
}

.sumary-content-text-value>span {
    font-weight: 500;
}

.sumary-content-text>span:nth-child(2)>span {
    color: #ff2f6c
}

.item1-sumary {
    height: 50% !important;
}

.list_sumary_items {
    padding: 0;
    text-align: left;
}

.list_sumary_items>li>p:nth-child(odd) {
    color: #b2c3c3;
}

.list_sumary_items>li>p:nth-child(even) {
    font-weight: 500;
}

.sumary_table>tbody>tr>td {
    font-size: 14px;
}

.sumary_table>tbody {
    display: block;
    height: 30rem;
    overflow: scroll;
}

.sumary_table td, .sumary_table th {
    padding: 1rem !important;
}

.sumary_table>tbody>tr>td:nth-child(2), .sumary_table>tbody>tr>td:nth-child(3), .sumary_table>tbody>tr>td:nth-child(4) {
    color: #b2c3c3 !important;
}

.sumary_table>tbody>tr>td:nth-child(2)>span, .sumary_table>tbody>tr>td:nth-child(3)>span, .sumary_table>tbody>tr>td:nth-child(4)>span {
    color: #657272 !important;
}

@media (max-width:899px) {
    .sumary_table td, .sumary_table th {
        padding: 0.70rem !important;
    }
    .sumary_table>tbody>tr>td {
        font-size: 12px;
    }
    .item1-sumary {
        height: 95% !important;
    }
    .list-detail-product {
        padding: 0px
    }
    .content-detail-product {
        display: flex;
        flex-direction: column !important;
    }
    .div-percent-product, .text-price-blue, .text-subray, .text-gray {
        margin-top: 7px !important;
        margin-left: 0% !important;
    }
    .text-gray {
        margin-bottom: 0px !important;
    }
    .h5-title {
        font-weight: 600;
        color: #657272;
    }
    .tt-stuck-parent-menu {
        display: block !important;
    }
}

/* input for payment methods  */

.payment-input {
    border: none !important;
    background-color: #f4f4f4 !important;
    font-weight: 300 !important;
    color: #a5a5a5 !important;
    border-radius: 11px !important;
}

.payment-input::placeholder, .payment-input:focus {
    color: #a5a5a5 !important;
}

.payment-form>button {
    border-radius: 1rem !important;
}

.select-style, .select-style select, .select-style select:focus {
    background: transparent url("/assets/icon-select.png") no-repeat 90% 50%;
}

.select-style {
    border: 1px solid #ccc;
    border-radius: 11px;
    overflow: hidden;
    background-size: 15px
}

.select-style select {
    padding: 8px;
    width: 120%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    color: #b2c3c3;
}

.select-style select:focus {
    outline: none;
    color: #b2c3c3;
}

.content-detail-product {
    display: flex;
    flex-direction: row;
}

.div-percent-product {
    margin-left: 2%;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    color: white;
    background-color: #ff2f6c;
    text-align: center;
    font-weight: 500
}

.text-price-blue {
    font-weight: 500;
    font-size: 27px;
    color: #1b42cb;
}

.text-subray {
    margin-left: 2%;
    font-weight: 500;
    font-size: 20px;
    color: #b2c3c3;
    text-decoration: line-through;
}

.text-gray {
    margin-left: 2%;
    font-weight: 500;
    font-size: 19px;
    color: #b2c3c3;
}

.border-heigth {
    height: 47px !important;
    border-radius: 15px !important;
}

.margin-top-detail-product {
    margin-top: -7px;
}

.outer {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-inner {
    display: flex;
    transition: transform .4s ease-in;
}