/* Style for Header */

.logo-header {
    margin-top: -10px;
    width: 100%;
}

.header-input {
    border: none !important;
    border-radius: 20px 0px 0px 20px !important;
    background-color: rgb(244, 244, 244) !important;
    font-weight: 500 !important;
}

.btn-search-header {
    border-radius: 0px 20px 20px 0px !important;
    background-color: rgb(0, 64, 207) !important;
    width: 3.2rem !important;
}

/* Style for Tabs */

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0140ce !important;
    border-bottom-color: #0140ce !important;
    background-color: transparent !important;
    border-color: #0140ce !important;
    border-bottom-width: 2px !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}

a:not([href]):not([tabindex]) {
    color: #5e7272 !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    /* color: #0140ce !important; */
    /* border-bottom-color: #0140ce !important; */
    background-color: transparent !important;
    /* border-color: #0140ce !important; */
    border-bottom-width: 2px !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}

.btn-club-vida {
    border: 1px solid !important;
    padding: 5px !important;
    border-color: rgb(255, 44, 110) !important;
    color: rgb(255, 44, 110) !important;
    border-radius: 50px !important;
    font-size: 12px !important;
    font-weight: 700 !important
}

.tt-badge-cart {
    background-color: rgb(255, 44, 110) !important;
}

.btn-club-vida:hover {
    background-color: #fd2f6f12 !important
}

.btn-contact {
    background-color: rgb(0, 24, 101) !important;
}

.tt-collapse-title-blue {
    color: rgb(3, 67, 208) !important;
}

header .tt-dropdown-obj .tt-dropdown-toggle {
    color: #838a91
}

.selected_li>a {
    font-weight: 500
}

.selected_li:hover>a {
    background-color: #0140ce;
    color: white !important;
}

header .tt-multi-obj .tt-dropdown-menu .tt-dropdown-inner {
    padding: 0px 0px 0px 0px !important;
    text-align: center !important;
    color: white;
}

.imgs-cols-drogueria {
    height: 200px !important;
}

.img-col-drogueria {
    height: 420px !important;
}

.tt-title-small {
    color: white !important;
}

.tt-title-small:hover {
    color: black !important;
 }

