/* Style for Header */

.logo-header {
    margin-top: -3px;
    margin-bottom: 10px;
    width: 100%;
}

.header-input {
    border: none !important;
    border-radius: 20px 0px 0px 20px !important;
    background-color: #f4f4f4 !important;
    font-weight: 500 !important;
    color: #a5a5a5;
}

.header-input::placeholder, .header-input:focus {
    color: #a5a5a5 !important;
}

.btn-search-header {
    border-radius: 0px 20px 20px 0px !important;
    background-color: #1b42cb !important;
    width: 3.2rem !important;
    height: 100%;
}

.icon-menu-user {
    width: 40%;
}

.fa-user-circle {
    font-size: 25px !important;
}

i[class*="icon-f"] {
    font-size: 25px !important;
    font-weight: 700 !important;
}

header .tt-dropdown-obj .tt-dropdown-toggle {
    color: #b2c3c3;
}

.selected_li>a {
    font-weight: 500
}

.selected_li:hover>a {
    background-color: #1b42cb;
    color: white !important;
}

.tt-desctop-menu>nav>ul>li:hover {
    color: #1b42cb !important;
    border-bottom: 2px solid !important;
}

li {
    cursor: pointer;
}

header .tt-multi-obj .tt-dropdown-menu .tt-dropdown-inner {
    padding: 0px 0px 0px 0px !important;
    text-align: center !important;
    color: white;
}

.tt-desctop-menu:not(.tt-hover-02) li.dropdown>a {
    color: #657272;
    background: transparent;
    font-weight: 500;
}

header .tt-cart .tt-dropdown-toggle .tt-badge-cart {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    top: -3px !important;
    right: -9px !important;
    font-size: 9px !important;
}

/* Style for Tabs */

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1b42cb !important;
    border-bottom-color: #1b42cb !important;
    background-color: transparent !important;
    border-color: #1b42cb !important;
    border-bottom-width: 2px !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}

a:not([href]):not([tabindex]) {
    color: #5e7272 !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    /* color: #1b42cb !important; */
    /* border-bottom-color: #1b42cb !important; */
    background-color: transparent !important;
    /* border-color: #1b42cb !important; */
    border-bottom-width: 2px !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}

/* Btn for club vida */

.btn-club-vida {
    border: 1px solid !important;
    padding: 3px !important;
    border-color: rgb(255, 44, 110) !important;
    color: rgb(255, 44, 110) !important;
    border-radius: 50px !important;
    font-size: 12px !important;
    font-weight: 700 !important
}

.btn-club-vida-mobile {
    color: rgb(255, 44, 110) !important;
    border: 0 !important;
}

.btn-club-vida:hover {
    background-color: #fd2f6f12 !important
}

/* background for circle badge icon cart */

.tt-badge-cart {
    background-color: rgb(255, 44, 110) !important;
}

/* background color for btn contact */

.btn-contact {
    background-color: rgb(0, 24, 101) !important;
}

.tt-collapse-title-blue {
    color: #1b42cb !important;
}

/* Images Droguery */

.imgs-cols-drogueria {
    height: 200px !important;
}

.img-col-drogueria {
    height: 420px !important;
}

.tt-title-small {
    color: #657272 !important;
}

.tt-title-small-drogueria:hover {
    color: white !important;
}

.tt-title-large {
    color: #657272 !important;
}

.tt-title-large {
    color: #1b42cb !important;
}

.tt-title-small:hover {
    color: black !important;
}

/* Style for Carousel -Slider */

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 14px !important;
    height: 13px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #1b42cb;
    background-clip: padding-box;
    border-top: 0px !important;
    border-bottom: 0px !important;
    opacity: .5;
    transition: opacity .6 ease;
    border-radius: 20px !important;
}
.carousel-indicators > .active {
    background-color: white;
}

/* Icons payments for footer */

.icon-payments {
    width: 10%;
    padding: 5px;
    margin-top: 2%;
}

.icon-payments:nth-child(1) {
    width: 20%;
}

.icon-payments:nth-child(2) {
    width: 15%;
}

.icon-payments:nth-child(3) {
    width: 25%;
}

.icon-payments:nth-child(4) {
    width: 25%;
}

/* Btn TabProducts */

.card-tab-products {
    border: none;
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.div-percent {
    width: 20%;
    background-color: #ff2c6e;
    position: absolute;
    top: 3%;
    left: 4%;
    color: white;
    font-weight: 600;
    border-radius: 5px 5px 5px 5px;
}

.div-cardbody>div:nth-child(1) {
    font-weight: 600;
    font-size: 17px;
    margin-top: -15px;
}

.div-cardbody>div:nth-child(2) {
    font-weight: 600;
    font-size: 10px;
    color: #b2c3c3;
    text-decoration: line-through;
    margin-top: -18px;
}

.div-cardbody>p:nth-child(3) {
    font-weight: 600;
    font-size: 12px;
    color: #657272;
    margin-top: -3px;
}

.div-cardbody>p:nth-child(4) {
    font-weight: 600;
    font-size: 10px;
    color: #b2c3c3;
    margin-top: 2px;
}

.tab-content-scroll {
    overflow-y: scroll;
    height: 360px;
}